* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html, 
body {
    height: 100%;
    font-family: 'Helvetica';
    color: white;
}

body {
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.993);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    z-index: 2; 
}

.navbar h1 {
    font-size: 40px;
    color: white;
}

.navbar a {
    text-decoration: none;
}

.navbar ul {
    margin-right: 20px; /* Adjust margin as needed */
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 5px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.5s ease;
}

.navbar ul li a:hover {
    background: rgba(119, 137, 149, 0.4);
}

.navbar ul li .active {
    background: rgba(119, 137, 149, 0.4);
}

.webgl {
    top: 0;
    left: 0;
    z-index: 1;
}
